[submodule "deps/deps/zig-gamedev"]
	path = deps/deps/zig-gamedev
	url = https://github.com/zig-gamedev/zig-gamedev.git
[submodule "deps/zig-gamedev"]
	path = deps/zig-gamedev
	url = https://github.com/zig-gamedev/zig-gamedev.git
[submodule "deps/mrubyc"]
	path = deps/zruby/mrubyc
	url = https://github.com/mrubyc/mrubyc.git
